#background-area{
	position: absolute;
    top: 0px;
    width: 100%; 
    height: 70%;
   
	background-image:url(2.jpg);
	background-position: 0px 0px;
    background-repeat: repeat-x-low;
   animation-name: moving-area;
    animation-duration: 10s;
    animation-timing-function: linear;
	animation-iteration-count: infinite;
	
}
@-webkit-keyframes moving-area {
    from { background-position: 0 0; }
	to { background-position: -200% 0; }
}

#image:target{
	position:absolute;
	top:20%;
}

.button{
	position:absolute;
	bottom:10%;
	left:5%;
}
